.mobile-agent{
    width: 60px; /* Smaller than .map-cell width to fit */
    height: 60px;/* Smaller than .map-cell height to fit */
    background: #999;
    position: absolute;
    text-align: center;
    line-height: 100%;
    border-radius: 5px;
}

.right-arrow{
    background-image: url('../images/arrow.png');
    background-repeat: no-repeat;
    background-position: center;
}

.bottom-arrow{
    background-image: url('../images/arrow.png');
    background-repeat: no-repeat;
    background-position: center;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
}

.left-arrow{
    background-image: url('../images/arrow.png');
    background-repeat: no-repeat;
    background-position: center;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
}

.top-arrow{
    background-image: url('../images/arrow.png');
    background-repeat: no-repeat;
    background-position: center;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
}
