head, body{
    margin:0;
    padding:0;
}

#compat-container1{
    margin:auto;
    display:block;
    position:relative;
}


#compat-container2{
    padding: 0;
    border: 0;
    display:inline-block;
    position:relative;
}

.map-container{
    display: table;
    border-collapse: collapse;
    margin: auto;
    position: relative;
}

.map-row{
    display:table-row;
}

.map-cell{
    display:table-cell;
    width: 60px;
    height: 60px;
    background-color: #FCDB8C;
    border: 1px solid #777;
}

#menu{
    background-color: #ffd700;
    width: 300px;
    height: 100%;
}

.mobile-agent{
    width: 60px; /* Smaller than .map-cell width to fit */
    height: 60px;/* Smaller than .map-cell height to fit */
    background: #999;
    position: absolute;
}
